:root {
  --white: hsl(0, 0%, 100%);
  --slate-300: hsl(212, 45%, 89%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-900: hsl(218, 44%, 22%);
  --link-color: hsl(228, 45%, 44%);
  --shadow-offsets: 0 0.75rem 1rem;
  --shadow-color: rgba(10, 10, 10, 0.08);

  font-size: 100%; /* 16px by default in most browsers -> 1rem = 16px*/
  /* Convert px to rem: ??px / 16px = ??rem*/

  /*web font → common local alternatives → platform system fonts → generic family*/
  font-family:
    "Outfit",
    "Helvetica Neue",
    Arial,
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Noto Sans",
    sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-size: 0.9375rem;
  background-color: var(--slate-300);
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  max-width: 20rem;
  background-color: var(--white);
  border-radius: 1.25rem;
  padding: 1rem 1rem 2.5rem 1rem;
  margin: 0 auto;
  box-shadow: var(--shadow-offsets) var(--shadow-color);
}

.card-image {
  width: 100%;
  margin: 0 auto;
}

.card-image img {
  width: 100%;
  height: auto;
  border-radius: 0.625rem;
}

.card-text {
  margin: 0 1rem;
}

.card-title {
  font-size: 1.375rem;
  font-weight: 700;
  color: var(--slate-900);
  line-height: 120%;
  letter-spacing: 0rem;
  text-align: center;
}

.card-description {
  font-size: 0.9375rem;
  font-weight: 400;
  color: var(--slate-500);
  line-height: 140%;
  letter-spacing: 0.0125rem;
  text-align: center;
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}

.attribution a {
  color: var(--link-color);
}

.external-link {
  display: inline-flex;
  align-items: center;
}

.external-icon {
  opacity: 0.8;
}

/*Well-tested "visually hidden pattern. No need to change it."*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}
