@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700");

:root {
  --white: hsl(0, 0%, 100%);
  --slate-300: hsl(212, 45%, 89%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-900: hsl(218, 44%, 22%);
}

html {
  min-height: 100vh;
}

body {
  font-size: 15px;
  font-family: "Outfit";
  background-color: var(--slate-300);
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  /*display: block;*/
  /*height: 499px;*/
  max-width: 320px;
  background-color: var(--white);
  border-radius: 20px;
  padding: 16px 16px 40px 16px;
  margin: 0 auto;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
}

.card-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.card-text {
  margin: 0px 16px;
}

.card-title {
  font-size: 22px;
  font-weight: 700;
  color: var(--slate-900);
  line-height: 120%;
  letter-spacing: 0px;
  text-align: center;
}

.card-description {
  font-size: 15px;
  font-weight: 400;
  color: var(--slate-500);
  line-height: 140%;
  letter-spacing: 0.2px;
  text-align: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.external-link {
  display: inline-flex;
  align-items: center;
}

.external-icon {
  opacity: 0.8;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}
